###### Requirements without Version Specifiers ######`
pip
ipykernel

# datascience
scikit-learn
matplotlib
numpy
pandas
scipy
seaborn

# web
requests
bs4

# machine learning
keras
tensorflow
xgboost
lightgbm


###### Requirements with Version Specifiers ######
